#can_embed_form {
  background-color: rgb(218, 230, 251);
  border: none;
  border-radius: 12px;
}
.letter #can_embed_form h2.line {
  border-bottom: none;
}
#can_embed_form_inner h4 {
  text-align: left;
}
#can_embed_form_inner > h2 + h4:after {
  background-color: transparent;
}
.lined_after_title::after,
#can_embed_form_inner > h2 + h4::after {
  background-color: transparent;
}
#action_info {
  display: none;
}
.can_embed #logo_wrap {
  display: none;
}
#can_embed_form input[type='text'],
#can_embed_form input[type='email'] {
  border-radius: 12px;
  border-width: 0;
  font-weight: bold;
  color: black;
}
#can_embed_form ::placeholder {
  font-weight: bold;
  color: rgb(0, 147, 253);
}
#can_embed_form .floatlabel-wrapper .floatlabel-label-active {
  color: black;
  top: -17px;
  text-transform: capitalize;
}
#can_embed_form .floatlabel-wrapper .floatlabel-label:after {
  background-color: transparent;
}
/* Button */
.can_embed .can_button,
.can_embed #can_embed_form input[type='submit'],
.can_embed #can_embed_form .button,
.can_embed #donate_auto_modal input[type='submit'],
.can_embed #donate_auto_modal .button {
  transition:
    all 0.2s ease,
    visibility 0s;
  border-radius: 12px;
  background: #08388b;
  font-size: 20px;
  font-family: Arial;
  font-weight: bold;
  text-transform: capitalize;
}

/* Button Hover*/
.can_embed .can_button:hover,
.can_embed #can_embed_form input[type='submit']:hover,
.can_embed #can_embed_form .button:hover,
.can_embed #donate_auto_modal input[type='submit']:hover,
.can_embed #donate_auto_modal .button:hover {
  background: #0094ff;
  border: 0px solid #000000;
  box-shadow: -0.12px 4px 30px -13px #000000;
}
.can_embed #can_embed_form h1,
.can_embed #donate_auto_modal h1,
.can_embed #can_embed_form h2,
.can_embed #donate_auto_modal h2,
.can_embed #can_embed_form h3,
.can_embed #donate_auto_modal h3,
.can_embed #can_embed_form h4,
.can_embed #donate_auto_modal h4,
.can_embed #can_embed_form h5,
.can_embed #donate_auto_modal h5,
.can_embed #can_embed_form h6,
.can_embed #donate_auto_modal h6 {
  color: black;
}
